@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    background-color: white;
    color: #f0eae1;
    font-family: "Roboto Condensed", sans serif;
}

/* Logo Styling */

#logo {
    font-size: 350%;
    text-align: center;
    width: 90%;
    height: 250px;
    margin: 0 auto;
    background-color: #e48454;
    padding-top: 50px
}

#logo h2 {
    font-size: 90%;
    font-family: "Nunito", sans-serif;
    font-style: italic;
    font-weight: 300;
}

/* Nav Bar Styling */

#nav-bar {
    background-color: #4d4959;
    text-align: center;
    width: 90%;
    height: 50px;
    margin: 1px auto;
    position: relative;
}

#nav-bar ul {
    list-style-type: none;
}

#nav-bar li {
    display: inline-block;
    margin: 15px 4.5%;
    
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid #f0eae1;
}

.active {
    border-bottom: 1px solid #f0eae1;
}

/* Home hero image */

#hero-image {
    height: 700px;
    width: 90%;
    margin: 0 auto;
    background-color: #e48454;
    background-image: url('../images/cockatiel-gc9f46405d_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

footer {
    background-color: #4d4959;
    width: 90%;
    height: 130px;
    margin: 0 auto;
}

/* colors::

#f0eae1 - creamy white
#f3edd2 - baby yellow
#edda85 - yellow
#e48454 - orange
#4d4959 - grey
#e0bdb9 - baby pink */