@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #2f2c38;
    color: #f0eae1;
    font-family: "Roboto Condensed", sans serif;
    max-width: 90%;
    margin: 0 auto;
}

body p {
    font-family: "Nunito", sans-serif;
}

/* HEADER AND FOOTER Universal Styling */

/* Logo Styling */

#logo-inner {
    position: relative;
}

#logo {
    position: relative;
    z-index: 10;
    font-size: 350%;
    text-align: center;
    height: 180px;
    background: linear-gradient(#e48454, #cb5920);
    padding-top: 20px;
    line-height: 1;
}

#logo #underlay {
    color: #4d4959;
    font-size: 300%;
    position: absolute;
    left: 53%;
    top: 0;
    z-index: -1;
}

#logo h2 {
    font-size: 77%;
    font-family: "Nunito", sans-serif;
    font-style: italic;
    font-weight: 300;
}

/* Footer styling */

footer {
    background: linear-gradient(#4d4959, #35323d);
    width: 100%;
    height: 130px; 
    margin: 0 auto;
    border-top: 1px solid black;
}

footer h3 {
    font-size: medium;
    text-align: right;
    padding: 90px 10px 5px;
    color: #e48454;
}

/* Nav Bar Styling */

#nav-bar {
    background: linear-gradient(#4d4959, #35323d 45% 60%, #4d4959);
    text-align: center;
    font-size: 110%;
}

#nav-bar ul {
    border-top: 1px solid black;
    border-bottom: 1px solid black;  
}

#nav-bar li {
    display: inline-block;
    margin: 15px 3%;  
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid #f0eae1;
}

.active {
    border-bottom: 1px solid #f0eae1;
}

/* Home hero image */

/* original image code NOT NEEDED #hero-image {
    height: 700px;
    width: 100%;
    margin: 0 auto;
    background-color: #e48454;
    background-image: url('../images/cockatiel-gc9f46405d_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
} */

#hero-image > img {
    width: 100%;
    height: 45rem;
    object-fit: cover;
    vertical-align: middle;
}

/* Cover text */

#image-text {
    font-size: 130%;
    letter-spacing: 2px;
    text-align: right;
    width: 370px;
    padding: 10px 5px 5px 0;
    background-color: rgba(228, 130, 84, 0.5);
    color: inherit;
    top: 97%;
    right: 8.5%;
    position: absolute;
}

#image-text p {
    font-size: 90%;
    font-weight: 500;
    margin-top: 5px;
}

/* variation.html styling */

#intro-bar img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    filter: contrast(1.2);
}

#intro-outer {
    background-color: rgba(77, 73, 89, .7);
    width: 90%;
    height: 250px;
    top: 33.4%;
    left: 5%;
    position: absolute;
    box-sizing: border-box;
    border-top: 4px solid #e48454;
    border-bottom: 4px solid #e48454;
}

#intro-text {
    color: #f0eae1;
    padding: 1% 2%;
}

#intro-text > h2 {
    display: inline-block;
    font-size: 200%;
    border-bottom: 1px solid #f0eae1;
}

#intro-text > p {
    font-family: "Nunito", sans-serif;
    line-height: 150%;
    padding-top: 5px;
    font-weight: 500;
}

.emphasis {
    padding: 0;
    font-size: 150%;
    font-weight: 800;
}

#variations {
    position: absolute;
    top: 12.3rem;
    letter-spacing: 1.5px;
}

#variations a {
    text-decoration: none;
    color: #f0eae1;
    border-bottom: 1px solid #f0eae1;
}

#variations a:hover {
    color: #cb5920;
    border-bottom: 1px solid #cb5920;
}

/* colors:

#f0eae1 - creamy white
#f3edd2 - baby yellow
#edda85 - yellow
#e48454 - orange
#4d4959 - grey
#e0bdb9 - baby pink */