@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #2f2c38;
    color: #f0eae1;
    font-family: "Roboto Condensed", sans serif;
    max-width: 90%;
    margin: 0 auto;
}

body p {
    font-family: "Nunito", sans-serif;
}

/* HEADER AND FOOTER Universal Styling */

/* Logo Styling */

#logo-inner {
    position: relative;
}

#logo {
    position: relative;
    z-index: 10;
    font-size: 350%;
    text-align: center;
    height: 180px;
    background: linear-gradient(#e48454, #cb5920);
    padding-top: 20px;
    line-height: 1;
}

#logo #under-leaf {
    color: #4d4959;
    font-size: 300%;
    position: absolute;
    left: 53%;
    top: 0;
    z-index: -1;
}

#logo h2 {
    font-size: 77%;
    font-family: "Nunito", sans-serif;
    font-style: italic;
    font-weight: 300;
}

/* Nav Bar Styling */

#nav-bar {
    background: linear-gradient(#4d4959, #35323d 45% 60%, #4d4959);
    text-align: center;
    font-size: 110%;
}

#nav-bar ul {
    border-top: 1px solid black;
    border-bottom: 1px solid black;  
}

#nav-bar li {
    display: inline-block;
    margin: 1rem 3%;  
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid #f0eae1;
}

.active {
    border-bottom: 1px solid #f0eae1;
}

/* Footer styling */

footer {
    background: linear-gradient(#4d4959, #35323d);
    width: 100%;
    height: 130px; 
    margin: 0 auto;
    border-top: 1px solid black;
    position: relative;
}

footer #bottom-footer h3 {
    font-size: medium;
    text-align: right;
    padding: .5rem;
    color: #e48454;
    position: absolute;
    bottom: 0;
    right: 0;
}

#bottom-footer h4 {
    color:#e48454;
    padding: 0 0 1% 1%;
    letter-spacing: 1.5px;
}

#bottom-footer h4 a {
    text-decoration-color: #e48454;
    color:#e48454;
}

#bottom-footer h4 a:hover {
    color:#f0eae1;
    text-decoration-color: #f0eae1;
}

#footer-links ul{
    list-style-type: none;
    box-sizing: border-box;
    padding: 0 0 0 5%;
    font-size: 2rem;
}

#footer-links li {
    display: inline-block;
    padding: 1.8rem 10%;
    
}

#footer-links a {
    color:#cb5920;
    font-size: 130%;
}

#footer-links a:hover {
    color: #f0eae1;
}

/* Footer mail-list pop-up box */
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 32%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #4d4959;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #4d4959;
  }
  .popup .close:hover {
    color: #e48454;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    color:#4d4959;
  }

  #mailing input{
    border: 1px solid #2f2c38;
  }

  #submit {
      padding: .2rem;
      font-size: 100%;
  }

  #submit:hover {
      filter:invert();
  }
/* Home hero image */

/* original image code NOT NEEDED #hero-image {
    height: 700px;
    width: 100%;
    margin: 0 auto;
    background-color: #e48454;
    background-image: url('../images/cockatiel-gc9f46405d_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
} */

#hero-image > img {
    width: 100%;
    height: 45rem;
    object-fit: cover;
    vertical-align: middle;
}

/* Cover text */

#image-text {
    font-size: 130%;
    letter-spacing: 2px;
    text-align: right;
    width: 370px;
    padding: 10px 5px 5px 0;
    background-color: rgba(228, 130, 84, 0.5);
    color: inherit;
    top: 90%;
    right: 8.5%;
    position: absolute;
}

#image-text p {
    font-size: 90%;
    font-weight: 500;
    margin-top: 5px;
}

/* variation.html styling */

#intro-bar {
    position: relative;
}

#intro-bar img {
    height: 260px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    filter: contrast(1.2);
}

#intro-outer {
    background-color: rgba(77, 73, 89, .7);
    width: 100%;
    height: 260px;
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    border-top: 4px solid #e48454;
    border-bottom: 4px solid #e48454;
}

#intro-text {
    color: #f0eae1;
    padding: 1% 2%;
}

#intro-text > h2 {
    display: inline-block;
    font-size: 200%;
    border-bottom: 1px solid #f0eae1;
}

#intro-text > p {
    font-family: "Nunito", sans-serif;
    line-height: 150%;
    padding-top: 5px;
    font-weight: 500;
}

.emphasis {
    padding: 0;
    font-size: 150%;
    font-weight: 800;
}

#variations {
    position: absolute;
    top: 12.3rem;
    letter-spacing: 1.5px;
}

#variations a {
    text-decoration: none;
    color: #f0eae1;
    border-bottom: 1px solid #f0eae1;
}

#variations a:hover {
    color: #cb5920;
    border-bottom: 1px solid #cb5920;
}

/* variation container */

.container {
    background-color: #35323d;
    margin: 1% 0;
    padding: 1.5rem;
    box-sizing: border-box;
    border: 4px solid #e48454;
    height: 19rem;
}

/* variation float left */

.float-left h3{
    font-size: 150%;
    border-bottom: 1px solid #f0eae1;
    margin-bottom: 1rem;
    display: inline-block;
}

.float-left p {
    text-align: justify;
    font-size: 1.25rem;
}

/* variation float right */

.float-right h3 {
    float: left;
    font-size: 150%;
    border-bottom: 1px solid #f0eae1;
    margin-bottom: 1rem;
}

.float-right p {
    clear: left;
    text-align: justify;
    font-size: 1.25rem;;
}

/* variation images */

.var-img-left {
    height: 15rem;
    border: 3px solid #2f2c38;
    float: left;
    margin-right: 1.5rem;
}

.var-img-right {
    height: 15rem;
    border: 3px solid #2f2c38;
    float: right;
    margin-left: 1.5rem;
}

/* diet.html Diet styling  */

#diet-intro-bar {
    position: relative;
}

#diet-intro-bar img {
    height: 260px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    filter: contrast(1.2);
}

#diet-intro-outer {
    background-color: rgba(77, 73, 89, .7);
    width: 100%;
    height: 260px;
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    border-top: 4px solid #e48454;
    border-bottom: 4px solid #e48454;
}

#diet-intro-text {
    color: #f0eae1;
    padding: 1% 2%;
}

#diet-intro-text > h2 {
    display: inline-block;
    font-size: 200%;
    border-bottom: 1px solid #f0eae1;
}

#diet-intro-text > p {
    font-family: "Nunito", sans-serif;
    line-height: 150%;
    padding-top: 5px;
    font-weight: 500;
}

#diet-list {
    position: absolute;
    top: 12.5rem;
    letter-spacing: 1.5px;
}

#diet-list a {
    text-decoration: none;
    color: #f0eae1;
    border-bottom: 1px solid #f0eae1;
}

#diet-list a:hover {
    color: #cb5920;
    border-bottom: 1px solid #cb5920;
}

/* Pellets */

#pellets {
    margin: 1rem;
    font-size: 110%;
}

/* Pellets intro text */

#pellets-intro-text {
    text-align: justify;
}

#pellets-intro-text h3 {
    text-decoration: underline;
}

/* top-return Return to top of the page */

#top-return {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

#top-return a {
    font-size: 280%;
    color: rgba(228,132,84, .7);
}




/* vet location iframe */

#vets {
    text-align: center;
    background-color: #4d4959;    
}

/* colors:

#f0eae1 - creamy white
#f3edd2 - baby yellow
#edda85 - yellow
#e48454 - orange
#4d4959 - grey
#e0bdb9 - baby pink */