@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #2f2c38;
    color: #f0eae1;
    font-family: "Roboto Condensed", sans serif;
    width: 90%;
    margin: 0 auto;
}

body p {
    font-family: "Nunito", sans-serif;
}

/* HEADER AND FOOTER Universal Styling */

/* Logo Styling */

#logo-inner {
    position: relative;
}

#logo {
    position: relative;
    z-index: 10;
    font-size: 350%;
    text-align: center;
    height: 180px;
    background: linear-gradient(#e48454, #cb5920);
    padding-top: 20px;
    line-height: 1;
}

#logo #under-leaf {
    color: #4d4959;
    font-size: 300%;
    position: absolute;
    left: 53%;
    top: 0;
    z-index: -1;
}

#logo h2 {
    font-size: 77%;
    font-family: "Nunito", sans-serif;
    font-style: italic;
    font-weight: 300;
}

/* Nav Bar Styling */

#nav-bar {
    background: linear-gradient(#4d4959, #35323d 45% 60%, #4d4959);
    text-align: center;
    font-size: 110%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;  
}

#nav-bar li {
    display: inline-block;
    margin: .3% 3%;  
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid #f0eae1;
}

.active {
    border-bottom: 1px solid #f0eae1;
}

/* trial search bar */

  .search {
    position: relative;
  }

  .input {
    height: 2rem;
    width: .02rem;
    border-style: none;
    padding: .5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #cb5920;
    padding-right: 40px;
    color:#f0eae1;
  }

  .input::placeholder {
    color:#f0eae1;
    font-weight: 100;
  }

  .btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #f0eae1;
    background-color:transparent;
    pointer-events: painted;  
  }

  .btn-search:focus ~ .input {
    width: 7rem;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid #f0eae1;
  }

  .input:focus {
    width: 7rem;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

/* Footer styling */

footer {
    background: linear-gradient(#4d4959, #35323d);
    width: 100%;
    height: 9rem; 
    margin: 0 auto;
    border-top: 1px solid black;
    position: relative;
    z-index: 10;
    clear: both;
}

#bottom-footer p {
    font-size: medium;
    color:#e48454;
    letter-spacing: 1.5px;
    padding: .5% 1%;
}

#bottom-footer p:last-child {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

#bottom-footer p:first-child { 
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottom-footer p:first-child a:hover {
    color:#f0eae1;
    text-decoration-color: #f0eae1;
}

#footer-links {
    list-style-type: none;
    box-sizing: border-box;
    font-size: 2rem;
    text-align: center;
    padding-top: 1.8rem;
}

#footer-links li {
    display: inline-block;
    width: 24%;
}

#footer-links a {
    color:#cb5920;
    font-size: 130%;
}

#footer-links a:hover {
    color: #f0eae1;
}

/* Footer mail-list pop-up box */
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #4d4959;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #4d4959;
  }
  .popup .close:hover {
    color: #e48454;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    color:#4d4959;
  }

  #mailing input{
    border: 1px solid #2f2c38;
  }

  .submit {
      padding: .2rem;
      font-size: 100%;
      cursor: pointer;
  }

  .submit:hover {
      background-color:#2f2c38;
      color: #cb5920;
  }

#hero-image > img {
    width: 100%;
    height: 45rem;
    object-fit: cover;
    vertical-align: middle;
}

#preferences, #details {
    border: 1px solid #e48454;
    padding: 0 0 1rem 1rem;
}

#preferences h4 {
    padding-top: 1rem;
}

#submit {
    margin-top: 1rem;
}

#submit:hover {
    cursor: pointer;
}

/* Cover text */

#image-text {
    font-size: 130%;
    letter-spacing: 2px;
    text-align: right;
    width: 370px;
    padding: 10px 5px 5px 0;
    background-color: rgba(228, 130, 84, 0.5);
    color: inherit;
    bottom: 10%;
    right: 5%;
    position: absolute;
}

#image-text p {
    font-size: 90%;
    font-weight: 500;
    margin-top: 5px;
}

/* variation.html styling */

#variation-card img {
    height: 17rem;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    filter: contrast(1.2);
}

#intro-outer {
    background-color: rgba(77, 73, 89, .7);
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    border-top: 4px solid #e48454;
    border-bottom: 4px solid #e48454;
}

#intro-text {
    color: #f0eae1;
    padding: 1% 2%;
    
}

#intro-text > h2 {
    display: inline-block;
    font-size: 200%;
    border-bottom: 1px solid #f0eae1;
}

#intro-text > p {
    line-height: 150%;
    padding-top: 5px;
    font-weight: 500;
}

.emphasis {
    font-size: 150%;
    font-weight: 800;
}

#variations {
    letter-spacing: 1.5px;
}

#variations a {
    text-decoration: none;
    color: #f0eae1;
    border-bottom: 1px solid #f0eae1;
}

#variations a:hover {
    color: #cb5920;
    border-bottom: 1px solid #cb5920;
}

/* variation container */

.container {
    background-color: #35323d;
    margin: 1% 0;
    padding: 1.5rem;
    box-sizing: border-box;
    border: 4px solid #e48454;
    height: 19rem;
}

/* variation float left */

.float-left h3{
    font-size: 150%;
    border-bottom: 1px solid #f0eae1;
    margin-bottom: 1rem;
    display: inline-block;
}

.float-left p {
    text-align: justify;
    font-size: 1.25rem;
}

/* variation float right */

.float-right h3 {
    float: left;
    font-size: 150%;
    border-bottom: 1px solid #f0eae1;
    margin-bottom: 1rem;
}

.float-right p {
    clear: left;
    text-align: justify;
    font-size: 1.25rem;;
}

/* variation images */

.var-img-left {
    height: 15rem;
    border: 3px solid #2f2c38;
    float: left;
    margin-right: 1.5rem;
}

.var-img-right {
    height: 15rem;
    border: 3px solid #2f2c38;
    float: right;
    margin-left: 1.5rem;
}

/* diet.html Diet styling  */

.relative {
    position: relative;
}

.intro-img {
    height: 260px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    filter: contrast(1.2);
}

#diet-intro-outer {
    background-color: rgba(77, 73, 89, .7);
    width: 100%;
    height: 260px;
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    border-top: 4px solid #e48454;
    border-bottom: 4px solid #e48454;
}

#diet-intro-text {
    color: #f0eae1;
    padding: 1% 2%;
}

#diet-intro-text > h2 {
    display: inline-block;
    font-size: 200%;
    border-bottom: 1px solid #f0eae1;
}

#diet-intro-text > p {
    font-family: "Nunito", sans-serif;
    line-height: 150%;
    padding-top: 5px;
    font-weight: 500;
}

#diet-list a {
    text-decoration: none;
    color: #f0eae1;
    border-bottom: 1px solid #f0eae1;
}

#diet-list a:hover {
    color: #cb5920;
    border-bottom: 1px solid #cb5920;
}

/* Pellets */

#pellets {
    margin: 1rem;
}

/* Pellets intro text */

#pellets-intro-text {
    text-align: justify;
}

/* Pellet images */

figure {
    display: inline-block;
}

figcaption {
    padding-left: 2rem;
    text-align: left;
    font-size: 90%;
    color: rgba(240,234,225,0.5);
}

.align-pics {
    text-align: center;
}

.img-size {
    height: 17rem;
    padding-left: 2rem;
    max-width: 80%;
}

.contrast {
    filter: contrast(1.3);
}

/* Fruit and Veg Styling */

#fandv a:hover {
    font-size: 130%;
}

#diet-table table {
    border: 1px solid #f0eae1;
    width: 90%;
    margin: 0 auto;
    /* Contemplated border-collapse but prefered how it looked without */
}

#diet-table th, td {
    border: 1px solid #f0eae1;
    padding: .8rem;
}

#diet-table td {
    font-family: 'Nunito', sans-serif;
}

caption {
    padding-bottom: 2rem;
    text-align: center;
    text-decoration: underline;
}

/* Nut section styling */

#nuts ul {
    padding-left: 3rem;
}

#nuts li {
    list-style-type: none;
    padding-bottom: .5rem;
}

#nuts li::before {
    content: "\220E";
    color:#cb5920;
    display: inline-block;
    width: 1rem;
    font-size: 80%;
}

/* Behaviour styling */

#behaviour-text {
    text-align: justify;
}

#behaviour-intro-bar {
    position: relative;
}

#behaviour-intro-outer {
    background-color: rgba(77, 73, 89, .7);
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    border-top: 4px solid #e48454;
    border-bottom: 4px solid #e48454;
}

#behaviour-intro-text {
    color: #f0eae1;
    padding: 1% 2%;
}

#behaviour-intro-text > h2 {
    display: inline-block;
    font-size: 200%;
    border-bottom: 1px solid #f0eae1;
}

#behaviour-intro-text > p {
    font-family: "Nunito", sans-serif;
    line-height: 150%;
    padding-top: 5px;
    font-weight: 500;
}

#crest {
    margin: 1rem;
}

.pad-top {
    padding-top: 1rem;
}

#up figcaption {
    text-align: center;
}

#half-down figcaption {
    text-align: center;
}

.img-size-landscape {
    height: 17rem;
    padding-left: 2rem;
}

/* call section */

#calls {
    margin: 1rem;
}

video {
    padding-left: 2rem;
}

#gender-call figcaption {
    text-align: center;
}

/* Quirk section */

.video {
    text-align: center;
}

/* Base class for clickable links */

.link {
    font-weight: 500;
    text-decoration-thickness: 1px;
    color: inherit;
}

/* Base class for h2 headings and emphasised underlined elements */

.underlined {
    text-decoration: underline;
}

/* Base font-size class for sections (110%) */

.f-size {
    font-size: 110%;
}

/* Visited anchor tag stlying */

a:visited {
    color:#cb5920;
    text-decoration-color:#cb5920;
}

/* top-return Return to top of the page */

#top-return {
    position: fixed;
    bottom: 3rem;
    right: 5rem;
}

#top-return a {
    font-size: 280%;
    color: rgba(228,132,84, .7);
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 15;
}

/* contact styling */

#form-outer {
    background-color: #35323d;
    display: inline-block;
    border: 5px double #cb5920;
    margin: 1rem;
    padding-left: 1rem;
    width: 50%;
}

#form-inner {
    padding: 2rem 0 2rem 2rem;
}

#form-inner textarea {
    width: 80%;
}

#form h2 {
    font-size: 3rem;
}

.form-p {
    max-width: 90%;
}

textarea {
    vertical-align: top;
}

/* Contact pic */

#pic {
    float: right;
}

#pic img {
    width: 37rem;
    height: 49.3rem;
    padding: 1rem;
    border: 5px double #cb5920;
    box-sizing: border-box;
    margin: 1rem;
        
}

/* vet location iframe */

#vets {
    text-align: center;
    background-color: #2f2c38;    
    padding-bottom: 1rem;
}

#vets h2 {
    padding: 1rem;
    text-decoration: underline;
}

/* thankyou.html styling */

#thanks {
    text-align: center;
    margin: 2rem;
    padding: 4rem 0;
    border: 10px double rgba(228,132,84, .7);
    font-size: 2rem;    
}

#thanks h2 {
    display: inline-block;
    text-decoration: overline;
    text-decoration-color: #cb5920;
    border-bottom: 4px solid #cb5920;
}

#thanks i {
    color: #cb5920;
}

#thanks a {
    font-size: smaller;
}

/* Media Queries */

@media screen and (max-width: 1400px) {

    /* variation.html */

    .container {
        height: 24rem;
    }

    /* behaviour.html */

    #behaviour-card img {
        height: 20rem;
    }

    #behaviour-intro-outer {
        height: 20rem;
    }

    /* contact.html */

    #form-outer {
        width: 90%;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    #pic img {
        width: 52rem;
        height: auto;
    }
    
}

@media screen and (max-width: 1050px) {

    #bottom-footer p:first-child {
        bottom: 1.5rem;
        left: 10%;
        right: 10%;
        text-align: center;
    }

    #bottom-footer p:last-child {
        left: 10%;
        right: 10%;
        text-align: center;
    }

}

@media screen and (max-width: 1000px) {

    /* variation.html */

    .container {
        height: 30rem;
    }

    /* behaviour.html */

    video {
        padding-left: 0;
    }

    video {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .video {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    video[controls] {
        height: 20%;
    }

    /* contact.html */

    #form-outer {
        width: 90%;
    }

    #pic img {
        width: 45rem;
        height: auto;
    }

}

@media screen and (max-width: 900px) {

    /* header */

    #logo {
        font-size: 3rem;
    }

    #nav-bar {
        height: 5rem;
        padding-top: 1rem;
    }

    /* variation.html */

    .container {
        height: 35rem;
    }

    /* vet.html iframe */

    #vets iframe {
        width: 600px;
        height: 400px;
    }

     /* contact.html */

     #form-outer {
        width: 85%;
    }

    #pic img {
        width: 38rem;
        height: auto;
    }    

}

@media screen and (max-width: 800px) {
    
    /* variation.html */

    #variation-card img {
        height: 25rem;
    }

    #intro-outer {
        height: 25rem;
    }

    #intro-text {
        font-size: 1.2rem;
    }

    /* behaviour.html */

    #behaviour-card img {
        height: 25rem;
    }

    #behaviour-intro-outer {
        height: 25rem;
    }

}

@media screen and (max-width: 750px) {

    /* variation */

    .var-img-left, .var-img-right {
        float: none;
        display: block;
        margin: 0 auto;
        width: 80%;
        height: auto;
    }

    .float-left, .float-right {
        height: 100%;
    }

    .container {
        overflow-y: scroll;
    }

}

@media screen and (max-width: 700px) {

    /* Header */

    #image-text {
        width: 18rem;
    }

    /* footer */
    
    #footer-links li {
        width: 23%;
    }

    /* variation.html */

    #variation-card img {
        height: 36rem;
    }

    #intro-outer {
        height: 36rem;
    }

    #intro-text {
        font-size: 1.rem;
    }

    #top-return {
        right: 2rem;
    }

    /* diet.html */

    #diet-intro img {
        height: 25rem;
    }

    #diet-intro-outer {
        height: 25rem;
    }

    #c-bone img{
        width: 80%;
    }

    /* vet.html iframe */

    #vets iframe {
        width: 450px;
        height: 400px;
    }

     /* contact.html */

     #form-outer {
        width: 80%;
    }

    #pic img {
        width: 25rem;
        height: auto;
    }

}

@media screen and (max-width: 500px) {

    /* footer */

    footer {
        height: 11.7rem;
    }

    /* behaviour.html */

    #behaviour-card img {
        height: 30rem;
    }

    #behaviour-intro-outer {
        height: 30rem;
    }

    #calls video, #quirks video {
        width: 80%;
    }

    .img-size-landscape {
        height: auto;
        width: 80%;
        text-align: center;
        padding: 0;
    }

    figure {
        display: block;
    }

    figure figcaption {
        text-align: center;
        padding: 0;
    }
    

    /* diet.html */

    .img-size {
        padding-left: 0;
    }

    /* vet.html iframe */

    #vets iframe {
        width: 300px;
        height: 400px;
    }

    /* contact.html */

     #form-outer {
        width: 70%;
    }

    #pic img {
        width: 20rem;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
   
    /* Header */

    #logo {
        font-size: 1.8em;
        height: 8rem;
    }

    #image-text {
        font-size: 1.2rem;
        width: 15rem;
    }

    /* footer */

    .popup {
        width: 70%;
    }

    footer {
        height: 13rem;
    }

    #bottom-footer p:first-child {
        bottom: 2.7rem;
    }

    /* variation.html */

    #variation-card img {
        height: 44rem;
    }

    #intro-outer {
        height: 44rem;
    }

    #intro-text {
        font-size: 1.rem;
    }

    /* behaviour.html */

    #behaviour-card img {
        height: 35rem;
    }

    #behaviour-intro-outer {
        height: 35rem;
    }

}

@media screen and (max-width: 325px) {

    #nav-bar {
        height: 7.5rem;
        line-height: 2rem;
    }

    /* variation.html */

    #variation-card img {
        height: 48rem;
    }

    #intro-outer {
        height: 48rem;
    }

    /* behaviour */

    #img-size {
        height: auto;
    }

}



/* colors:

#f0eae1 - creamy white
#f3edd2 - baby yellow
#edda85 - yellow
#e48454 - orange
#4d4959 - grey
#e0bdb9 - baby pink */