@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    background-color: #2f2c38;
    color: #f0eae1;
    font-family: "Roboto Condensed", sans serif;
    max-width: 90%;
    margin: 0 auto;
}

/* Logo Styling */

#logo-inner {
    position: relative;
}

#logo {
    position: relative;
    z-index: 10;
    font-size: 350%;
    text-align: center;
    width: 100%;
    height: 180px;
    margin: 0 auto;
    background: linear-gradient(#e48454, #cb5920);
    padding-top: 20px;
    line-height: 1;
}

#logo #underlay {
    color: #4d4959;
    font-size: 300%;
    position: absolute;
    left: 53%;
    top: 0;
    z-index: -1;
}

#logo h2 {
    font-size: 77%;
    font-family: "Nunito", sans-serif;
    font-style: italic;
    font-weight: 300;
}

/* Nav Bar Styling */

#nav-bar {
    background: linear-gradient(#4d4959, #35323d 45% 60%, #4d4959);
    text-align: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

#nav-bar ul {
    list-style-type: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;  
}

#nav-bar li {
    display: inline-block;
    margin: 15px 3%;  
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid #f0eae1;
}

.active {
    border-bottom: 1px solid #f0eae1;
}

/* Home hero image */

#hero-image {
    height: 700px;
    width: 100%;
    margin: 0 auto;
    background-color: #e48454;
    background-image: url('../images/cockatiel-gc9f46405d_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* Cover text */

#image-text {
    font-size: 130%;
    letter-spacing: 2px;
    text-align: right;
    font-weight: 550;
    width: 370px;
    height: 240px;
    padding: 10px 5px 10px 0;
    background-color: rgba(228, 130, 84, 0.5);
    color: #f0eae1;
    top: 85%;
    right: 8%;
    position: absolute;
}

#image-text p {
    margin-top: 5px;
    line-height: 150%;
}

/* Footer styling */

footer {
    background: linear-gradient(#4d4959, #35323d);
    width: 100%;
    height: 130px;
    margin: 0 auto;
    border: 1px solid black;
}

footer h3 {
    font-size: medium;
    text-align: right;
    padding: 90px 10px 5px;
    color: #e48454;
}

/* colors::

#f0eae1 - creamy white
#f3edd2 - baby yellow
#edda85 - yellow
#e48454 - orange
#4d4959 - grey
#e0bdb9 - baby pink */