@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #2f2c38;
    color: #f0eae1;
    font-family: "Roboto Condensed", sans serif;
    max-width: 90%;
    margin: 0 auto;
}

body p {
    font-family: "Nunito", sans-serif;
}

/* HEADER AND FOOTER Universal Styling */

/* Logo Styling */

#logo-inner {
    position: relative;
}

#logo {
    position: relative;
    z-index: 10;
    font-size: 350%;
    text-align: center;
    height: 180px;
    background: linear-gradient(#e48454, #cb5920);
    padding-top: 20px;
    line-height: 1;
}

#logo #under-leaf {
    color: #4d4959;
    font-size: 300%;
    position: absolute;
    left: 53%;
    top: 0;
    z-index: -1;
}

#logo h2 {
    font-size: 77%;
    font-family: "Nunito", sans-serif;
    font-style: italic;
    font-weight: 300;
}

/* Nav Bar Styling */

#nav-bar {
    background: linear-gradient(#4d4959, #35323d 45% 60%, #4d4959);
    text-align: center;
    font-size: 110%;
}

#nav-bar ul {
    border-top: 1px solid black;
    border-bottom: 1px solid black;  
}

#nav-bar li {
    display: inline-block;
    margin: .1rem 3%;  
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid #f0eae1;
}

.active {
    border-bottom: 1px solid #f0eae1;
}

/* trial search bar */

.search {
    position: relative;
  }

  .input {
    height: 2rem;
    width: .02rem;
    border-style: none;
    padding: .5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #cb5920;
    padding-right: 40px;
    color:#f0eae1;
  }

  .input::placeholder {
    color:#f0eae1;
    font-weight: 100;
  }

  .btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #f0eae1;
    background-color:transparent;
    pointer-events: painted;  
  }

  .btn-search:focus ~ .input {
    width: 7rem;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid #f0eae1;
  }

  .input:focus {
    width: 7rem;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

/* Footer styling */

footer {
    background: linear-gradient(#4d4959, #35323d);
    width: 100%;
    height: 130px; 
    margin: 0 auto;
    border-top: 1px solid black;
    position: relative;
    z-index: 10;
    clear: both;
}

footer #bottom-footer h3 {
    font-size: medium;
    text-align: right;
    padding: .5rem;
    color: #e48454;
    position: absolute;
    bottom: 0;
    right: 0;
}

#bottom-footer h4 {
    color:#e48454;
    padding: 0 0 1% 1%;
    letter-spacing: 1.5px;
}

#bottom-footer h4 a {
    text-decoration-color: #e48454;
    color:#e48454;
}

#bottom-footer h4 a:hover {
    color:#f0eae1;
    text-decoration-color: #f0eae1;
}

#bottom-footer h3 {
    letter-spacing: 2px;
    font-weight: 400;
}

#footer-links ul{
    list-style-type: none;
    box-sizing: border-box;
    padding: 0 0 0 5%;
    font-size: 2rem;
}

#footer-links li {
    display: inline-block;
    padding: 1.8rem 10%;
    
}

#footer-links a {
    color:#cb5920;
    font-size: 130%;
}

#footer-links a:hover {
    color: #f0eae1;
}

/* Footer mail-list pop-up box */
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 32%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #4d4959;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #4d4959;
  }
  .popup .close:hover {
    color: #e48454;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    color:#4d4959;
  }

  #mailing input{
    border: 1px solid #2f2c38;
  }

  .submit {
      padding: .2rem;
      font-size: 100%;
      cursor: pointer;
  }

  .submit:hover {
      background-color:#2f2c38;
      color: #cb5920;
  }

#hero-image > img {
    width: 100%;
    height: 45rem;
    object-fit: cover;
    vertical-align: middle;
}

/* Cover text */

#image-text {
    font-size: 130%;
    letter-spacing: 2px;
    text-align: right;
    width: 370px;
    padding: 10px 5px 5px 0;
    background-color: rgba(228, 130, 84, 0.5);
    color: inherit;
    top: 90%;
    right: 8.5%;
    position: absolute;
}

#image-text p {
    font-size: 90%;
    font-weight: 500;
    margin-top: 5px;
}

/* variation.html styling */

#intro-bar {
    position: relative;
}

#intro-bar img {
    height: 260px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    filter: contrast(1.2);
}

#intro-outer {
    background-color: rgba(77, 73, 89, .7);
    width: 100%;
    height: 260px;
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    border-top: 4px solid #e48454;
    border-bottom: 4px solid #e48454;
}

#intro-text {
    color: #f0eae1;
    padding: 1% 2%;
}

#intro-text > h2 {
    display: inline-block;
    font-size: 200%;
    border-bottom: 1px solid #f0eae1;
}

#intro-text > p {
    font-family: "Nunito", sans-serif;
    line-height: 150%;
    padding-top: 5px;
    font-weight: 500;
}

.emphasis {
    padding: 0;
    font-size: 150%;
    font-weight: 800;
}

#variations {
    position: absolute;
    top: 12.3rem;
    letter-spacing: 1.5px;
}

#variations a {
    text-decoration: none;
    color: #f0eae1;
    border-bottom: 1px solid #f0eae1;
}

#variations a:hover {
    color: #cb5920;
    border-bottom: 1px solid #cb5920;
}

/* variation container */

.container {
    background-color: #35323d;
    margin: 1% 0;
    padding: 1.5rem;
    box-sizing: border-box;
    border: 4px solid #e48454;
    height: 19rem;
}

/* variation float left */

.float-left h3{
    font-size: 150%;
    border-bottom: 1px solid #f0eae1;
    margin-bottom: 1rem;
    display: inline-block;
}

.float-left p {
    text-align: justify;
    font-size: 1.25rem;
}

/* variation float right */

.float-right h3 {
    float: left;
    font-size: 150%;
    border-bottom: 1px solid #f0eae1;
    margin-bottom: 1rem;
}

.float-right p {
    clear: left;
    text-align: justify;
    font-size: 1.25rem;;
}

/* variation images */

.var-img-left {
    height: 15rem;
    border: 3px solid #2f2c38;
    float: left;
    margin-right: 1.5rem;
}

.var-img-right {
    height: 15rem;
    border: 3px solid #2f2c38;
    float: right;
    margin-left: 1.5rem;
}

/* diet.html Diet styling  */

.relative {
    position: relative;
}

.intro-img {
    height: 260px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    filter: contrast(1.2);
}

#diet-intro-outer {
    background-color: rgba(77, 73, 89, .7);
    width: 100%;
    height: 260px;
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    border-top: 4px solid #e48454;
    border-bottom: 4px solid #e48454;
}

#diet-intro-text {
    color: #f0eae1;
    padding: 1% 2%;
}

#diet-intro-text > h2 {
    display: inline-block;
    font-size: 200%;
    border-bottom: 1px solid #f0eae1;
}

#diet-intro-text > p {
    font-family: "Nunito", sans-serif;
    line-height: 150%;
    padding-top: 5px;
    font-weight: 500;
}

#diet-list {
    position: absolute;
    top: 12.5rem;
    letter-spacing: 1.5px;
}

#diet-list a {
    text-decoration: none;
    color: #f0eae1;
    border-bottom: 1px solid #f0eae1;
}

#diet-list a:hover {
    color: #cb5920;
    border-bottom: 1px solid #cb5920;
}

/* Pellets */

#pellets {
    margin: 1rem;
}

/* Pellets intro text */

#pellets-intro-text {
    text-align: justify;
}

/* Pellet images */

figure {
    display: inline-block;
}

figcaption {
    padding-left: 2rem;
    text-align: left;
    font-size: 90%;
    color: rgba(240,234,225,0.5);
}

.align-pics {
    text-align: center;
}

.img-size {
    height: 17rem;
    padding-left: 2rem;
}

.contrast {
    filter: contrast(1.3);
}

/* Fruit and Veg Styling */

#fandv a:hover {
    font-size: 130%;
}

#diet-table table {
    border: 1px solid #f0eae1;
    width: 90%;
    margin: 0 auto;
    /* Contemplated border-collapse but prefered how it looked without */
}

#diet-table th, td {
    border: 1px solid #f0eae1;
    padding: .8rem;
}

#diet-table td {
    font-family: 'Nunito', sans-serif;
}

caption {
    padding-bottom: 2rem;
    text-align: center;
    text-decoration: underline;
}

/* Nut section styling */

#nuts ul {
    padding-left: 3rem;
}

#nuts li {
    list-style-type: none;
    padding-bottom: .5rem;
}

#nuts li::before {
    content: "\220E";
    color:#cb5920;
    display: inline-block;
    width: 1rem;
    font-size: 80%;
}

/* Behaviour styling */

#behaviour-intro-bar {
    position: relative;
}

#behaviour-intro-outer {
    background-color: rgba(77, 73, 89, .7);
    width: 100%;
    height: 260px;
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    border-top: 4px solid #e48454;
    border-bottom: 4px solid #e48454;
}

#behaviour-intro-text {
    color: #f0eae1;
    padding: 1% 2%;
}

#behaviour-intro-text > h2 {
    display: inline-block;
    font-size: 200%;
    border-bottom: 1px solid #f0eae1;
}

#behaviour-intro-text > p {
    font-family: "Nunito", sans-serif;
    line-height: 150%;
    padding-top: 5px;
    font-weight: 500;
}

#behaviour-text {
    text-align: justify;
}

#crest {
    margin: 1rem;
}

#up figcaption {
    text-align: center;
}

#half-down figcaption {
    text-align: center;
}

/* call section */

#calls {
    margin: 1rem;
}

video {
    padding-left: 2rem;
}

#gender-call figcaption {
    text-align: center;
}

/* Quirk section */

.video {
    text-align: center;
}

/* Base class for clickable links */

.link {
    font-weight: 500;
    text-decoration-thickness: 1px;
    color: inherit;
}

/* Base class for h2 headings and emphasised underlined elements */

.underlined {
    text-decoration: underline;
}

/* Base font-size class for sections (110%) */

.f-size {
    font-size: 110%;
}

/* Visited anchor tag stlying */

a:visited {
    color:#cb5920;
    text-decoration-color:#cb5920;
}

/* top-return Return to top of the page */

#top-return {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

#top-return a {
    font-size: 280%;
    color: rgba(228,132,84, .7);
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 15;
}

/* contact styling */

#form-outer {
    background-color: #35323d;
    display: inline-block;
    border: 5px double #cb5920;
    margin: 1rem;
    padding-left: 1rem;
    width: 50%;
}

#form-inner {
    padding: 2rem 0 2rem 2rem;
}

#form h2 {
    font-size: 3rem;
}

.form-p {
    max-width: 90%;
}

textarea {
    vertical-align: top;
}

/* Contact pic */

#pic {
    float: right;
}

#pic img {
    width: 37rem;
    height: 48.1rem;
    padding: 1rem;
    border: 5px double #cb5920;
    box-sizing: border-box;
    margin: 1rem;
        
}

/* vet location iframe */

#vets {
    text-align: center;
    background-color: #2f2c38;    
}

#vets h2 {
    padding: 1rem;
    text-decoration: underline;
}

/* colors:

#f0eae1 - creamy white
#f3edd2 - baby yellow
#edda85 - yellow
#e48454 - orange
#4d4959 - grey
#e0bdb9 - baby pink */